/* Déclaration des polices */

/* Déclaration des variantes polices Roboto classique */
@font-face {
    font-family: 'robotobold';
    src: url('Roboto-Bold-webfont.eot');
    src: url('Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Bold-webfont.woff2') format('woff2'),
         url('Roboto-Bold-webfont.woff') format('woff'),
         url('Roboto-Bold-webfont.ttf') format('truetype'),
         url('Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('Roboto-Regular-webfont.eot');
    src: url('Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Regular-webfont.woff2') format('woff2'),
         url('Roboto-Regular-webfont.woff') format('woff'),
         url('Roboto-Regular-webfont.ttf') format('truetype'),
         url('Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('Roboto-Light-webfont.eot');
    src: url('Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Light-webfont.woff2') format('woff2'),
         url('Roboto-Light-webfont.woff') format('woff'),
         url('Roboto-Light-webfont.ttf') format('truetype'),
         url('Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Déclaration des polices Roboto condensed */
@font-face {
    font-family: 'roboto_condensedbold';
    src: url('RobotoCondensed-Bold-webfont.eot');
    src: url('RobotoCondensed-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('RobotoCondensed-Bold-webfont.woff2') format('woff2'),
         url('RobotoCondensed-Bold-webfont.woff') format('woff'),
         url('RobotoCondensed-Bold-webfont.ttf') format('truetype'),
         url('RobotoCondensed-Bold-webfont.svg#roboto_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condensedregular';
    src: url('RobotoCondensed-Regular-webfont.eot');
    src: url('RobotoCondensed-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('RobotoCondensed-Regular-webfont.woff2') format('woff2'),
         url('RobotoCondensed-Regular-webfont.woff') format('woff'),
         url('RobotoCondensed-Regular-webfont.ttf') format('truetype'),
         url('RobotoCondensed-Regular-webfont.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condensedlight';
    src: url('RobotoCondensed-Light-webfont.eot');
    src: url('RobotoCondensed-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('RobotoCondensed-Light-webfont.woff2') format('woff2'),
         url('RobotoCondensed-Light-webfont.woff') format('woff'),
         url('RobotoCondensed-Light-webfont.ttf') format('truetype'),
         url('RobotoCondensed-Light-webfont.svg#roboto_condensedlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* html, body {
  overflow-x: hidden;
}

html, body, form, span, h1 {
  box-sizing: border-box;
} */

/* h1 {
  width: 100%;
  background: #03A9F4;
  padding: 20px;
  color: white;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.05);
  border-radius: 3px 3px 0 0;
} */

form {
  font-family: 'robotoregular', sans-serif;
  width: 460px;
  margin: 100px auto 0;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  padding: 0 0 40px;
  border-radius: 3px;
  color: #555;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font: inherit;
  transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

input,
textarea {
  font: inherit;
  font-size: 0.8em;
  margin: 28px 25px 10px;
  width: 400px;
  display: block;
  border: none;
  padding: 20px 0 10px;
  border-bottom: solid 1px #03A9F4;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #03A9F4 4%);
  background-position: -400px 0;
  background-size: 400px 100%;
  background-repeat: no-repeat;
  transition: background 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  resize: none;
  overflow: hidden;
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: #03A9F4;
}
input:focus, input:valid,
textarea:focus,
textarea:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}
input:focus::-webkit-input-placeholder, input:valid::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder,
textarea:valid::-webkit-input-placeholder {
  font-size: 0.8em;
  transform: translateY(-20px);
  visibility: visible !important;
  opacity: 1;
}

input[type="email"] {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #03A9F4 4%);
  background-position: -400px 0;
  background-repeat: no-repeat;
  transition: border-bottom 0.3s ease, background 0.3s ease;
}
input[type="email"] ~ span.validation-text {
  position: absolute;
  visibility: hidden;
  font-family: 'robotoregular', sans-serif;
  font-size: 0.6em;
  width: 400px;
  margin-left: 25px;
  margin-top: -5px;
  color: white;
  transition: color 0.3s ease-in-out;
}
input[type="email"]:not([value=""])::-webkit-input-placeholder {
  font-size: 0.8em;
  transform: translateY(-20px);
  visibility: visible !important;
  opacity: 1;
}
input[type="email"]:not([value=""]):focus::-webkit-input-placeholder {
  color: #03A9F4;
}
input[type="email"]:not([value=""]):focus:not(:valid)::-webkit-input-placeholder {
  color: #E91E63;
}
input[type="email"]:focus {
  background-position: 0 0;
}
input[type="email"]:focus:not(:valid):not([value=""]) {
  border-bottom: solid 1px #E91E63;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #E91E63 4%);
}
input[type="email"]:not(:focus):not(:valid):not([value=""]) {
  border-bottom: solid 1px #E91E63;
  background-position: 0 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #E91E63 4%);
}
input[type="email"]:not(:focus):not(:valid):not([value=""])::-webkit-input-placeholder {
  color: #E91E63;
}
input[type="email"]:not(:focus):not(:valid):not([value=""]) ~ span.validation-text {
  visibility: visible;
  color: #E91E63;
}

.flex {
  display: flex;
  align-items: stretch;
}
.flex textarea {
  line-height: 120%;
}

button {
  font-family: 'robotoregular', sans-serif;
  transition: transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), box-shadow 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  border: none;
  background: #03A9F4;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px;
  width: 400px;
  color: white;
  margin: 30px 0 0 25px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}
button:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
}

a {
  width: 42px;
  height: 42px;
  border-radius: 50px;
  background: #03A9F4;
  display: inline-block;
  margin: 50px calc(50% - 21px);
  white-space: nowrap;
  padding: 13px;
  box-sizing: border-box;
  color: white;
  transition: all 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  font-family: 'robotoregular', sans-serif;
  text-decoration: none;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
}
a i {
  margin-right: 20px;
  transition: margin-right 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
}
a:hover {
  width: 134px;
  transform: translateX(-50px);
}
a:hover i {
  margin-right: 10px;
}
